<!-- 
<div class="py-10">
  <ul class="nav nav-tabs" [(ngModel)]="idx">
    <li class="nav-item">
      <a class="nav-link" href="#">List of Accounts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Place Order page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Order Watchlist page</a>
    </li>
  </ul>
  <div class="tab-content">
     Place Order page
    <div class="tab-pane fade" [class.show]="idx === 0">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <app-customer-place-order [cid]="cutomerId" (onSubmitTransaction)="onSubmitTransaction($event)"></app-customer-place-order>
          </div>
        </div>
      </div>
    </div>

   Order Watchlist page
    <div class="tab-pane fade" [class.show]="idx === 1">
      <div class="container">
        <div *ngFor="let transaction of transactions?.reverse()" class="p-3 m-3 border">
          <p>From: {{ transaction.faid }}</p>
          <p>To: {{ transaction.taid }}</p>
          <h4>Amount: {{ transaction.faid }} {{ transaction.amount }}</h4>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <app-header heading="Customer panel"></app-header> -->
<!-- <div class="py-10">
  <ul class="nav nav-tabs" [(ngModel)]="idx">
   
    <li class="nav-item">
      <a class="nav-link" href="#">Place Order page </a>
      <div class="w-2/3  h-[500px] m-auto">
        <app-customer-place-order cid={{cutomerId}} ></app-customer-place-order>
       </div> 
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Order Watchlist page</a>
    </li>
  </ul>
  <div class="tab-content">
    Place Order page
    <div class="tab-pane fade" [class.show]="idx === 0">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
             <app-customer-place-order [cid]="cutomerId" (onSubmitTransaction)="onSubmitTransaction($event)"></app-customer-place-order>
          </div>
        </div>
      </div>
    </div>

     Order Watchlist page
    <div class="tab-pane fade" [class.show]="idx === 1">
      <div class="container">
         <div *ngFor="let transaction of transactions?.reverse()" class="p-3 m-3 border">
          <p>From: {{ transaction.faid }}</p>
          <p>To: {{ transaction.taid }}</p>
          <h4>Amount: {{ transaction.faid }} {{ transaction.amount }}</h4>
        </div> 
      </div>
    </div>
  </div>
</div> -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="container">
    <div style="color:#fff;text-align: center;font-weight:bolder;padding: 15px;background-color: #0005;">
      <h2>Order Watchlist</h2>
    </div>
    <div class="tab-content" id="myTabsContent">

      <!-- <div class="tab-pane fade  show active" id="watchlist" role="tabpanel" aria-labelledby="watchlist-tab">
                
                <div *ngFor="let transaction of transactions?.reverse()" class="p-3 m-3 border alert alert-primary" style="width:max-content;">
                  <p>From: {{ transaction.srcAccount }}</p>
                  <p>To: {{ transaction.destAccount }}</p>
                  <p>Amount: {{ transaction.amount }}<p>
                  
                 
                  </div>
            </div> -->
      <section class="table_body">
        <table>
          <thead>
            <tr *ngIf="transactions.length > 0; else noRecords">
              <th>Currency Pair</th>
              <th>Source account</th>
              <th>Destination account</th>
              <th>Amount</th>

              <th>Rate</th>
              <th>Total value</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let transaction of transactions?.reverse()">
                <td>{{transaction.currencyPair}}</td>
                <td>{{transaction.srcAccount}}</td>
                <td>{{transaction.destAccount}}</td>
                <td>{{transaction.amount}}</td>

                <td>{{transaction.rate}}</td>
                <td>{{transaction.totalValue}}</td>
                <td>{{ transaction.time ? (transaction.time | customDate) : 'N/A' }}</td>
              </tr>
          </tbody>
        </table>
        <ng-template #noRecords>
          <p style="text-align: center;">No records available</p>
        </ng-template>

      </section>
      <div class="justify-content-center d-flex align-items-center"><button class="btn btn-primary"
          routerLink="/placeOrder">Place Order</button></div>
      <div style="display: flex; justify-content: center; align-items: center; padding: 20px;">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item" [class.disabled]="p === 1" style="width:20px;text-align: center;">
              <a class="page-link" (click)="changePage(p - 1)" aria-label="Previous"
                style="background-color:darkcyan;color:azure">
                <span aria-hidden="true" style="width:20px">&laquo;</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let pageNum of pages" [class.active]="p === pageNum"
              style="width:30px;text-align: center;">
              <a class="page-link" (click)="changePage(pageNum)"
                style="background-color:#fff;color:black;z-index: 0;">{{ pageNum }}</a>
            </li>
            <li class="page-item" [class.disabled]="p === pages.length" style="width:20px;text-align: center;">
              <a class="page-link" (click)="changePage(p + 1)" aria-label="Next"
                style="background-color:darkcyan;color:azure">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>


  </div>

</body>

</html>