<!-- <html style="background-image: linear-gradient(rgb(68, 159, 177), rgb(177, 116, 177));"> -->

<!-- <div style="margin-top: 10%;margin-right:10%;" class="outer" >


    <div class="container" style="margin: auto;
    width: 75%;
    /* justify-content: center;
align-items: center; */
">

        <div class="row">

            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">

                <div class="panel border bg-white">

                    <div class="panel-heading" style="text-align: center; ">
                        <h2 style="background-image:metrobank;"></h2>
                        <h3 class="pt-3 font-weight-bold" style="background-color:cornflowerblue" >
                            <b>LOGIN</b>
                            
                        </h3>
                    </div>
                    <div class="panel-body p-3" style="background-color:lightgray;">

                        <form action="">

                            <div class="form-group pt-3">

                                <div class="input-field" style="text-align: center;">

                                    <span class="fa fa-user p-2"></span>
                                    <input [(ngModel)]="username" type="text" placeholder="Username">
                                   
                                    
                                    
                                </div>
                            </div>

                            <div class="form-group pt-3">

                                <div class="input-field" style="text-align: center;">

                                    <span class="fa fa-lock p-2"></span>
                                    <input type="text" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-inline fr mt-4">
                                <a id="forget" class="font-weight-bold">
                                        Forgot Password?
                                </a>
                            </div>
                            <button class = "btn btn-primary btn-block mt-4 w-100" (click)="onClickLog(username.value)" routerLink="/home" >Login</button>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <section class="vh-100" style="background-color:#393f81;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-6">
          <div class="card" style="border-radius: 2rem; ">
            <div class="row g-0">
               <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div> 
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-2 text-black">
  
                  <form>
  
                    <div class="d-flex align-items-center pt-1 pb-1">
                      
                        <img src="metro.png" class="logo" style="width: 250px;">
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-2" style="letter-spacing: 1px;">Sign into your account</h5>
                    
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example17">Email address</label>
                      <input type="email" id="form2Example17" class="form-control form-control-lg" />
                      
                    </div>
  
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example27">Password</label>
                      <input type="password" id="form2Example27" class="form-control form-control-lg" />
                      
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-primary btn-lg btn-block" type="button" routerLink="/home">Login</button>
                    </div>
  
                    <a class="small text-muted" href="#!">Forgot password?</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="#!"
                        style="color: #393f81;">Register here</a></p>
                   
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <!DOCTYPE html>
<html>
    <head>
        <title> Login </title>
           <link rel="stylesheet" type="text/css" href="bootstrap.css">
           <link rel="stylesheet" href="login.component.css">
        
    </head>
    <body>
        <div class="container vh-100">
            <div class="row justify-content-center h-100">
                <div class="card my-auto shadow" style=" width: 500px;
                height: 400px;
                padding: 0px;
                box-shadow: 0px 1px 8px black !important;
            ">
                    <div class="card-header text-center" style="background-color:darkcyan;">
                        <img src="assets/metroo.png" class="logo" style="width: 250px; justify-content: center;">
                    </div>
                    <div class="card-body" style="background-color:gainsboro;">
                        <form>
                            <div class="form-group">
                                <label for="email">Email ID:</label>
                                <input type="email" id="email" class="form-control" name="" placeholder="Enter your Email ID here">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" id="password" class="form-control" name="" placeholder="Enter your password here">
                            </div>
                            <br>
                            <input type="submit" class="btn btn-primary" value="Login" name="" routerLink="/modifycustomer" style="width: 100%;">
                        </form>
                    </div>
                    <div class="card-footer" style="text-align: center;background-color:darkcyan;">
                        <small style="color: azure;">&copy; Metrobank Corporation Ltd.</small>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Add custom styles here if needed */
        
    </style>
</head>
<body>
    <div class="container">
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
                <div class="form-group login-container ">
                    <img src="/assets/metroo.png" style="text-align: center;" class="logo">
                    
                        <div class="form-group mb-3">
                            <label for="email" class="form-label">Email address</label>
                          
                            <input type="email" class="form-control" id="email" placeholder="Enter your email" required formControlName="email"
                             name="email"  />
                       
                        </div>
                        <div class="form-group mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter your password" required formControlName="password"
                             name="password" />
                        </div>
                        
                        <button type="submit" class="btn btn-primary w-100" (click)="onLogin()">Login</button>
                    
                </div>
            </div>
        </div>
    </form>
    </div>

    <!-- Include Bootstrap JS and Popper.js (if needed) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.10.2/dist/umd/popper.min.js"></script>
</body>
</html>
