/* 
  
  .banner {
    height: max-content;
    width: 100%;
   background-color:#ECF0F1;
    background-size: cover;
    background-position: center;
  }

  
  button {
    width: 100%; 
    max-width: 100px; 
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
    margin: 10px 0; 
    color:#fff;
    background:darkcyan;
    border: 1.5px solid black;
    font-weight: bolder;
    
  }

  .blur-background {
    filter: blur(5px);
  } */



  .banner {

    height: max-content;

    width: 100%;

   background-color:#ECF0F1;

    background-size: cover;

    background-position: center;

  }

 

 

  button {

    width: 100%;

    max-width: 100px;

    padding: 10px 0;

    text-align: center;

    border-radius: 25px;

    margin: 10px 0;

    color:#fff;

    background:darkcyan;

    border: 1.5px solid black;

    font-weight: bolder;   

  }

  .blur-background {

    filter: blur(5px); /* Adjust the blur strength as needed */

  }

  .name-container,.details-container,.pass-container,.info-container{
    padding-left:30px ;
    padding-right: 30px;
    display: flex;
    justify-content: center;
  }

  .fname,.lname,.mail,.cell,.birth,.gen,.pass,.conpass{
    margin: 10px;
    width: 50%;
  }